.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Padding on the left and right */
}

.logo img {
  width: 200px;
  max-width: 100%; /* Ensure the image takes up the available space */
  margin: 0 160px;
}

/* Responsive design adjustments */
@media (max-width: 1000px) {
  .header {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .logo img {
    width: 180px;
    max-width: 100%; 
    margin: 0;
  }
}
